logic_app/update-azure-devops-project-permissions/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "New_Project_Details": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Create_Or_Update_Project')",
                    "schema": {
                        "properties": {
                            "_links": {
                                "properties": {
                                    "collection": {
                                        "properties": {
                                            "href": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "self": {
                                        "properties": {
                                            "href": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "web": {
                                        "properties": {
                                            "href": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            },
                            "defaultTeam": {
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "description": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "lastUpdateTime": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "revision": {
                                "type": "integer"
                            },
                            "state": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            },
                            "visibility": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Create_Or_Update_Project": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Project_Request": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()?['MessageText']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "partitionKey": {
                                "type": "string"
                            },
                            "rowKey": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "organization": {
                                "type": "string"
                            },
                            "projectName": {
                                "type": "string"
                            },
                            "processTemplateId": {
                                "type": "string"
                            },
                            "status": {
                                "type": "string"
                            },
                            "createdAt": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "Set_Request_Status_to_In_Progress": {
                "type": "Http",
                "inputs": {
                    "uri": "@{parameters('function_url')}/api/project-requests/@{body('Project_Request')?['id']}?code=@{parameters('function_key')}",
                    "method": "PATCH",
                    "body": {
                        "status": "In Progress"
                    }
                },
                "runAfter": {
                    "Project_Request": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Create_Or_Update_Project": {
                "type": "Http",
                "inputs": {
                    "uri": "@{parameters('function_url')}/api/organizations/@{body('Project_Request')?['organization']}/projects?code=@{parameters('function_key')}",
                    "method": "POST",
                    "body": {
                        "projectName": "@{body('Project_Request')?['projectName']}",
                        "processId": "@{body('Project_Request')?['processTemplateId']}"
                    }
                },
                "runAfter": {
                    "Set_Request_Status_to_In_Progress": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Remove_Permissions_to_Create_Repositories": {
                "type": "Http",
                "inputs": {
                    "uri": "@{parameters('function_url')}/api/organizations/@{body('Project_Request')?['organization']}/projects/@{body('Project_Request')?['projectName']}/permissions?code=@{parameters('function_key')}",
                    "method": "DELETE"
                },
                "runAfter": {
                    "New_Project_Details": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Complete_Request": {
                "type": "Http",
                "inputs": {
                    "uri": "@{parameters('function_url')}/api/project-requests/@{body('Project_Request')?['id']}?code=@{parameters('function_key')}",
                    "method": "PATCH",
                    "body": {
                        "status": "Completed",
                        "url": "@{body('New_Project_Details')?['_links']?['web']?['href']}"
                    }
                },
                "runAfter": {
                    "Remove_Permissions_to_Create_Repositories": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Set_Request_Status_to_Error": {
                "type": "Http",
                "inputs": {
                    "uri": "@{parameters('function_url')}/api/project-requests/@{body('Project_Request')?['id']}?code=@{parameters('function_key')}",
                    "method": "PATCH",
                    "body": {
                        "status": "Failed",
                        "statusMessage": "@{body('Create_Or_Update_Project')}"
                    }
                },
                "runAfter": {
                    "Create_Or_Update_Project": [
                        "FAILED",
                        "SKIPPED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Set_Request_Status_to_Error_2": {
                "type": "Http",
                "inputs": {
                    "uri": "@{parameters('function_url')}/api/project-requests/@{body('Project_Request')?['id']}?code=@{parameters('function_key')}",
                    "method": "PATCH",
                    "body": {
                        "status": "Failed",
                        "statusMessage": "@{body('Create_Or_Update_Project')}"
                    }
                },
                "runAfter": {
                    "Remove_Permissions_to_Create_Repositories": [
                        "FAILED",
                        "SKIPPED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_there_are_messages_in_a_queue_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "azurequeues"
                        }
                    },
                    "method": "get",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/queues/@{encodeURIComponent('new-requests-queue')}/message_trigger"
                },
                "recurrence": {
                    "interval": 30,
                    "frequency": "Second",
                    "timeZone": "Mountain Standard Time"
                },
                "splitOn": "@triggerBody()?['QueueMessagesList']?['QueueMessage']"
            }
        }
    },
    "kind": "Stateful"
}